version: "3"
services:
  mysql_db:
    image: mysql
    restart: always
    ports:
      - 3306:3306
    environment:
      MYSQL_DATABASE: accounts
      MYSQL_USER: sa
      MYSQL_PASSWORD: sa
      MYSQL_ROOT_PASSWORD: root

#  api_service:
#    build: src/main/java
#    restart: always
#    ports:
#      - 8080:8080
#    environment:
#      SPRING_DATASOURCE_URL: jdbc:mysql://mysql_db:3306/accounts?allowPublicKeyRetrieval=true&autoReconnect=true&useSSL=false
#    depends_on:
#      - mysql_db